.App {
  height: 100vh;
}

div.spinner-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.actors-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
